#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  text-align: center;
  
  h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 40px;
    color: #BFA181;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
  }

  span {
    display: block;
    font-size: 1.2em;
    margin-bottom: 10px;
  }

  .contact-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0px; 
  }

  .form-container {
    width: 20%;

    form {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: flex-start;
      margin-left: 0;

      input,
      textarea {
        width: 100%;
        color: #BFA181;
        border: solid 1px;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 5px;
      }

      input {
        height: 2.5em;
      }

      textarea {
        height: 5em;
        line-height: 2.5em;
        font-size: 1.2em;
      }

      input[type="submit"] {
        padding: 0.5em 1em;
        color: #BFA181;
        background-color: #0A1828;
        cursor: pointer;
        transition: background 0.3s ease;
        border-radius: 5px;

        &:hover {
          background-color: #142d4c;
        }
      }
    }

    .status-message {
      margin-top: 10px;
      font-size: 1.2em;
      color: #28a745;
    }
  }

  .contact-info {
    width: 15%;

    .social-links {
      margin-top: 20px;
      a {
        color: #0077b5;
        transition: color 0.3s ease;

        &:hover {
          color: #005582;
        }
        
      }
    }

    p {
      font-size: 20px;
      color: #BFA181;

      a {
        color: #BFA181;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: 1024px) {
    padding: 50px;

    .contact-content {
      flex-direction: column;
      align-items: center;
      gap: 10px; 
    }

    .form-container {
      width: 80%;
    }

    .contact-info {
      width: 80%;
    }
  }

  @media (max-width: 768px) {
    padding: 30px;

    .contact-content {
      flex-direction: column;
      align-items: center;
      gap: 10px; 
    }

    .form-container {
      width: 90%; 
    }

    .contact-info {
      width: 90%;
      text-align: center;
    }
  }

  @media (max-width: 480px) {
    padding: 20px;

    .form-container,
    .contact-info {
      width: 100%;
      text-align: center;
    }
  }
}
